* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway";
}

body {
    background-color: #000000;
}

/* Parent box that contains the whole site*/
.parent {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media (min-width: 60rem){
    .parent {
        flex-direction: row;
        gap: 4rem;
    }
}

/*First row of children, including the result box*/
.child_title {
     padding:1rem;
    color: white;
    position: sticky;
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 90%;
    text-align: center;
}

.child_paragraph {
    color:white;
    background-color: #2e2e2e;
    padding: 1rem;
    border-radius: 12px;
    text-align: center;
    flex: 0 0 30%;
}

@media (max-width: 60rem) {
    .child_paragraph {
        margin: 0 4rem 0 4rem;
    }
}

.child_box {
    color:white;
    background-color: #2e2e2e;
    padding: 1rem;
    border-radius: 12px;
    flex: 1 1 20%;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.child_result_box {
    color:white;
    background-color: #2e2e2e;
    padding: 1rem;
    border-radius: 12px;
    flex: 1 1 20%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

/* child_box also contains children as the modifying labels
to get the result of the calculations*/
.child2_gender_buttons form{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
    align-items: center;
    justify-content: center;
}

.writing_labels {
    display: block;
    margin: 0rem 0rem 0.5rem;
}

input[type="radio"]{
    border: none;
}

/* Input labels */
input[type="number"] {
    width: 100%;
    padding: 0.7rem;
    background-color: #dbdada;
    border: none;
    font-size: 16px;
    box-shadow: 0 0 5px rgb(216, 215, 215);
    border-radius: 12px;
}

input:hover {
    border: 1px solid #888;
    background-color: #c9c9c9;
}

input:focus {
    outline: none;
    border: 2px solid #000000;
    box-shadow: 0 0 5px #010101;
}

/* SELECT OK ma migliorato */
.menu {
    appearance: none;
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.menu:hover {
    border-color: #999;
}

.menu:focus {
    outline: none;
    border: 2px solid #000000;
    box-shadow: 0 0 5px #010101;
}

/* 🔥 BUTTON MOBILE FIX */
button {
    width: 100%;          /* 🔥 prima era 150px */
    margin-top: 1rem;
    margin-bottom: 1rem;

    padding: 0.9rem; /* 🔥 leggermente più grande */

    border: none;
    border-radius: 12px;

    font-size: 1rem;
    background-color: rgb(235, 235, 235);
}

button:hover {
    border: 1px solid #888;
    background-color: #c9c9c9;
}

.result {
    font-weight:bold;
}

